.section {
  width: 100%;
  min-height: 602px;
  padding-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1392px;
  padding: 0 36px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.formWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form {
  width: 360px;
}

.btnWrapper {
  width: 360px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;

  margin-bottom: 30px;
}

.submitWrapper {
  margin-top: 77px;
}

.error {
  position: fixed;
  bottom: 15px;
  color: #CB3D40;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 50px;
  }

  .container {
    padding: 0 16px;
  }

  .form {
    width: 328px;
  }

  .btnWrapper {
    width: 328px;
    margin-bottom: 38px;
  }

  .submitWrapper {
    margin: 49px 0 24px;
  }
}