.successWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .description {
    width: 350px;
    font-size: 48px;
  }
}

@media screen and (max-width: 767px) {
  .successWrapper {

    .description {
      width: 328px;
      font-size: 24px;
    }
  }
}